.nav {
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  padding: 16px 0px 0px 0px;

  .logo {
    height: 60px;
    width: auto;
    cursor: pointer;
  }

  .links {
    padding: 0px 30px;

    .link {
      padding: 0px 10px;
      text-decoration: none;
      color: black;
      line-height: 55px;
      font-size: 20px;
      font-weight: bold;

      &:hover {
        background: #f1f1f1;
      }
    }
  }
}
